@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-gray-50 text-gray-800;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-bold;
  }
}

@layer components {
  .btn-primary {
    @apply bg-gray-800 text-white px-6 py-2 rounded-full hover:bg-gray-700 transition-colors duration-300 uppercase tracking-wider text-xs font-bold shadow-lg hover:shadow-xl transform hover:-translate-y-px;
  }
}
